* {
  background-color: bisque;
  font-family: "Share Tech";
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: green;
}

p {
  color: tomato;
}

li {
  font-size: 25px;
  color: darkgreen;
  background-color: tomato;
  border: 2px solid black;
}

#piepagina {
  text-align: center;
  font-size: 20px;
  color: olive;
}